@font-face {
  font-family: "Comfortaa";
  src: url("/src/assets/fonts/Comfortaa-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto Mono";
  src: url("/src/assets/fonts/RobotoMono-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111111;
  overflow: hidden;
}

iframe {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  border: none;
  overflow: hidden;
}

.main-screen {
  display: flex;
  transition: transform 0.5s ease;
}
.main-screen > div {
  height: 100vh;
  min-width: 100vw;
}

.home-screen {
  height: 100vh;
  background: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home-screen > header {
  margin-left: 40px;
}
.home-screen > header .title {
  text-align: left;
  color: white;
  font-size: 6vw;
  line-height: 7vw;
  font-family: "Roboto Mono", sans-serif;
}
.home-screen > header .subtitle {
  text-align: left;
  color: white;
  line-height: 1.5;
  font-size: 2.3vw;
  margin-top: 24px;
  font-weight: normal;
  font-family: "Comfortaa", sans-serif;
}
.home-screen > header .anim-letter {
  border-width: 7px;
  border-right: 5px solid white;
  padding-right: 18px;
}
.home-screen > header .visible-letter {
  border-color: transparent;
}
.home-screen .nav-start {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 15vh;
  left: 40px;
}
.home-screen .nav-start .button-start {
  margin-bottom: 0.7vh;
  font-size: 1.5vw;
  text-decoration: none;
  border: none;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: transparent;
  opacity: 0;
  transition: opacity 2s;
  font-family: "Comfortaa", sans-serif;
}
.home-screen .nav-start .button-start:hover {
  color: #5f13da;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #111111;
  font-family: "Comfortaa", sans-serif;
}
.content .algorithms-screen {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.5s ease;
}
.content .algorithms-screen > div {
  text-align: center;
  min-width: 100vw;
  height: 100vh;
}
.content .algorithms-screen > div header {
  margin-top: 3vh;
  color: white;
}
.content .nav-content {
  margin-left: 86vw;
  position: fixed;
  z-index: 1;
}
.content .nav-content .nav-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 6vh;
}
.content .nav-content .nav-btn > div {
  min-width: 1.5vw;
  min-height: 1.5vw;
  margin-left: 1vw;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.content .nav-content .nav-btn > div:hover {
  background-color: white;
}
.content .nav-content .nav-btn > span {
  text-align: left;
  opacity: 0;
  color: white;
  font-size: 1.1vw;
}/*# sourceMappingURL=home-style.css.map */