$var1: black;
@font-face {
	font-family: "Comfortaa";
	src: url("/src/assets/fonts/Comfortaa-VariableFont_wght.ttf");
}
  
@font-face {
	font-family: "Roboto Mono";
	src: url("/src/assets/fonts/RobotoMono-VariableFont_wght.ttf");
}

$title-font: "Roboto Mono", sans-serif;
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 20px;
	-ms-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

button {
	cursor: pointer;
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

h1{
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	text-align: center;

}
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: black;
	display: flex;
}
header {
	font-family: $title-font;
	position: absolute;
	color: white;
	margin: auto;
	top: 3vh;
	left: 0;
	right: 0;
}
.canvas {
	background-color: black;
	border: 1px solid white ;
	display: flex;
	margin:  9% 0  0 3%;
	
	height: 600px;
	width: 1000px;
}
.btn {
	color: red;
}
.cluster{
	max-width: 330px;
	max-height: 700px;
	color: white;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;

	margin:  7% 0  0 4%;


}
.number {
	display: block;
	position: relative;
	border-radius: 8px;
}
.cluster__slider {
	display: inline;
}

.show {
	border: 1px black solid;
}
.cluster__metric{
	text-align: center;

}
.cluster__lincage{
	text-align: center;
}
.radio{
	display: inline;
}
