@import "_variables.scss";

@font-face {
  font-family: "Comfortaa";
  src: url("/src/assets/fonts/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/src/assets/fonts/RobotoMono-VariableFont_wght.ttf");
}

%universal {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@mixin content-header($leftPercent) {
  top: 3%;
  left: $leftPercent;
  position: absolute;
  color: white;
  font-family: $app-font;
}

%option-button {
  color: #fff;
  border: 1vw none;
  border-radius: 1vw;
  padding: 1vw;
  box-shadow: .3px .3px 6px #f5f5f5;
  background-color: #282828FF;
  font-size: .9vw;
  font-family: $roboto-font;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

%command-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: .9vw;
  border: none;
  border-radius: 1.1vw;
  font-family: $roboto-font;
  box-shadow: .1px .2px 4px #f5f5f5;
  background-color: $color1;

  &:hover::before {
    width: 0;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    background-color: #25252a;
    transition:  0.3s ease-out;
    border-radius: 1vw;
    top:0; bottom: 0; right: 0;
    height: 100%; width: 100%;
  }

  >span {
    border-radius: 1vw;
    position: relative;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 1vw;
    transition: 0.2s 0.1s;
    color: #fff;

    &:hover {
      color: #1C1F1EFF;
      transition: 0.2s 0.1s;
      background-color: $color1;
    }
  }
}