$var1: black;
$background-color: rgb(45, 22, 65);
$input-color: rgb(71, 19, 116);

@import "_variables";
@import "../../common/scss/_variables.scss";
@import "../../common/scss/app-styles.scss";

@font-face {
	font-family: "Roboto Mono";
	src: url("/src/assets/fonts/RobotoMono-VariableFont_wght.ttf");
}

* {
	@extend %universal
}

html{
	height: 100%;
	width: 100%;
}

body {
	font-family: $app-font;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	height: 100vh;
  	width: 100vw;
	margin-top: 2vh;
	font-family: $app-font;
	color: #fff;
  }

.content{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	height: 100vh;
	width: 100vw;
	.buttons{
		display: flex;
		justify-content: space-around;
		button{
			margin-top: 0.7vh;
			@extend %command-button;
			span{
				padding: 0.55vw;
				font-size: .8vw;
			}
		}
		
	}
}


.container {
	display: flex;
	justify-self: sy;
	align-items: center;
	flex-direction: column;
	margin-right: 15vh;
	&__area {
		background-color: #111111;
		color: white;
		padding: 0.6vw;
		border:1px solid $primary-color;
		width: 15vw;
		height: 25vh;
		max-width: 15vw;
		max-height: 25vh;
		min-width: 15vw;
		min-height: 25vh;
		margin: 1vh;
	}
	&__create-tree {
		display: flex;
		flex-direction: column;
	}
	&__sepator-clear{
		display: flex;
		justify-content: space-around;
	}
	&__find-way {
		display: flex;
		flex-direction: column;
	}
	&__data {
	}
	&__symbol-selector {
		margin-top: 1.5vh;
		select {
			appearance: none;
			border: none;
			outline: none;
			text-align: center;
			font: inherit;
			width: 15em;
			height: 3em;
			background: 
				no-repeat right 0.8em center / 1.4em,
			  linear-gradient(to left, #1c1f1e 3em, #1c1f1e 3em);
			color: white;
			border-radius: 10px;
			box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
			cursor: pointer;
			option {
			  color: inherit;
			  background-color:  #440f9b;
			}
			&:focus {
			  outline: none;
			}
			&::-ms-expand {
			  display: none;
			}

		  }
		  
	}
	&__label-separator{
		display: flex;
		justify-content: center;
		margin-bottom: .5vh
	}
	&__separator{
	}
	&__answer {
	}

	&__button{
		button{
			@extend %option-button;
		}
		margin-bottom: 0.5vh;
		
		
	}

	
	

}
.tree{
	font-size: 0.8vw;
	height: 55vh;
	width: 40vw;
	box-shadow: 0 0 15px #a06df3, 5px 5px 15px #2ecc71;;
	overflow: auto;
	display: flex;
	align-items: center;
}
.data{
	&__tree{

	}
	&__find-way{

	}
}	
.display__Tree{
	display: block;
	overflow-x: scroll;
	max-height: 500px;
	max-width: 1500px;
}