/* 
 	Взял отсюда https://www.cssscript.com/clean-tree-diagram/
*/
$border-color: #000000;
$fiolet-color: rgb(89, 48, 167);
$ff-color: rgb(28, 148, 196);
$red-color: rgb(202, 69, 87);
$green-color: rgb(44, 182, 62);
.tree {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	margin: 0 0 1em;
	text-align: center;
	display: table;
	color: $red-color;//*можно переделать
  
	ul {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	  position: relative;
	  display: table;
	  width: 100%;
  
	  &:before {
		outline: solid 1px $fiolet-color; //*можно переделать
		content: "";
		height: .5em;
		left: 50%;
		position: absolute;
		top: -.5em;
	  }
	}
  
	li {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	  position: relative;
	  display: table-cell;
	  padding: .5em 0;
	  vertical-align: top;
  
	  &:before {
		outline: solid 1px $fiolet-color; //*можно переделать
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	  }
  
	  &:first-child {
		&:before {
		  left: 50%;
		}
	  }
  
	  &:last-child {
		&:before {
		  right: 50%;
		}
	  }
	}
  
	code {
	  border: solid .1em $border-color; //*можно переделать
	//   border-radius: .2em; //*можно переделать
	  display: inline-block;
	  margin: 0 .2em .5em;
	  padding: .2em .5em;
	  position: relative;
  
	  &:before {
		outline: solid 1px $fiolet-color; //*можно переделать
		content: "";
		height: .5em;
		left: 50%;
		position: absolute;
		top: -.55em;
	  }
	}
  
	span {
	  border: solid .1em $fiolet-color;  //*можно переделать
	//   border-radius: .2em;  //*можно переделать
	  display: inline-block;
	  margin: 0 .2em .5em;
	  padding: .2em .5em;
	  position: relative;
  
	  &:before {
		outline: solid 1px $fiolet-color; //*можно переделать
		content: "";
		height: .5em;
		left: 50%;
		position: absolute;
		top: -.55em;
	  }
	}
  
	>li {
	  margin-top: 0;
	  &:before {
		outline: none;
	  }
	  &:after {
		outline: none;
	  }
	  >code {
		&:before {
		  outline: none;
		}
	  }

	  >span {
		&:before {
		  outline: none;}
	  }
	}
  }
  