$purple: #5f13da;
$scene-font: "Roboto Mono", sans-serif;
$app-font: "Comfortaa", sans-serif;
$transparent: transparent;
$setup-button-background: rgba(87, 86, 86, 0.44);
$background-app: #111111;
$trans: transform .5s ease;