@import "_variables";
@import "../../common/scss/_variables.scss";
@import "../../common/scss/app-styles.scss";

* {
  @extend %universal
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  justify-self: center;
  align-items: center;
}

.config-field {
  height: 34vw;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 7vw;

  .options-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .opt-btn {
      @extend %option-button;
      margin-top: 2vw;
    }

    .selected-btn {
      background-color: #1C1B1B70;
    }
  }

  .ranges-field {
    p {
      margin-top: 2vh;
      text-align: center;
      font-size: 1.3vw;
      font-family: $app-font;
      color: #fff;
    }

    form {
      @extend %form-range;
      margin-top: 1.2vh;
    }
  }
}

.general-field {
  .command-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .cmd-btn {
      @extend %command-button
    }
  }
}

.matrix {
  box-shadow: 0 0 15px #853aff, 5px 5px 15px #2ecc71;
  min-width: 30vw;
  min-height: 30vw;
  margin-bottom: 3vh;
  border: 5px solid black;
  background-color: #b4afaf;
  tr {
    td {
      width: 1vw;
      height: 1vw;
      border: 1px solid black;
    }
    .clear-cell {
      width: 1vw;
      height: 1vw;
      border: 1px solid black;
    }
    .wall-cell {
      background-color: #212020;
    }
    .start-cell {
      background-color: #f1f163;
    }
    .goal-cell {
      background-color: palegreen;
    }
    .path {
      background-color: #8DF50EE5;
    }
    .chosen {
      background-color: #3acc7b;
    }
    .explored {
      background-color: #9a68fa;
    }
    .regarded {
      background-color: #63D9FCE5;
    }
  }
}