@import url("https://fonts.googleapis.com/css?family=Literata&display=swap");
@import "../../common/scss/_variables.scss";
@import "../../common/scss/app-styles.scss";

*{
    @extend %universal;
}

body {
    font-family: $app-font;
    background-size: cover;
    font-size: 1vw; 
    color: white;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden; 
}

.container {
    width: 100vw;
    height: 100vh;
    font-size: 1vw; 
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    @extend %command-button
}

form {
    @extend %form-range;
    margin-top: 2vh;
}

.row {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 4vw;
}
  
.container-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw; 
}
    
#canvasAnt {
    border-radius: 3vw;
    box-shadow: 0 0 15px $primary-color, 5px 5px 15px #2ecc71;
    background: no-repeat #b4afaf;
    margin-bottom: 3vh;
    
}

.buttons {
    margin: 0 50px;
}

.preference {
    margin-top: 30vh;
    display: flex;
    transform: translate(-50%, -50%);
    font-size: 1vw;
    justify-content: space-between;
    align-items: center;
}

.containFirst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userInputs {
    font-size: 1.3vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 5%;
}

#countSend, #feromonQ, #remainFeromon, #alfa, #beta {
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
}


#countSendDiapason, #qDiapason, #mutationPercentDiapason, #alfaDiapason, #betaDiapason {
    text-align: center;
}


@media (max-width: 600px) {
    .row {
      max-width: 80%;
      min-width: 60%;
    }
    .containFirst {
      max-width: 70%;
      min-width: 60%;
    }
}
  
@media (min-width: 600px) {
    .row {
        max-width: 80%;
        min-width: 70%;     
    }
    .containFirst {
        max-width: 80%;
        min-width: 70%;
    }
}

@media (min-width: 1200px) {
    .row {
        max-width: 80%;
        min-width: 70%;
    }
    .containFirst {
        max-width: 80%;
        min-width: 70%;
    }
}
